body {
  font-family: 'Montserrat', Arial, sans-serif;
}
.bg-primary {
  background-color: #0d6efd;
}

.bg-secondary {
  background-color: #6c757d;
}

.bg-white-text {
  color: #f8f9fa;
}

.bg-accent {
  background-color: #f8f9fa ;
}

.bg-text {
  background-color: #212529;
}

